{% extends 'layouts/base.html.twig' %}

{% block content %}
	<h1 class="text-4xl font-bold mb-4">Welcome to the Admin Dashboard</h1>
	<p class="mb-4">This is the admin dashboard. You can manage your pages and posts here.</p>

	{# list of pages #}
	<h2 class="text-2xl font-bold mb-4">Pages</h2>
	{% if pages|length > 0 %}

		<div class="mb-4 bg-white shadow-md rounded px-8 pt-6 pb-8">
			<table class="w-full">
				<thead>
					<tr></tr>
				</thead>
				<tbody>
					{% for page in pages %}
						<tr>
							<td>{{ page.slug }}</td>
							<td>
								<div class="text-center">
									<a href="/admin/pages/edit/{{ page.slug }}" class="text-blue-500 hover:text-blue-700">Edit</a>
								</div>
							</td>
							<td>
								<div class="text-center">
									<a href="/{{ page.slug }}" class="text-green-500 hover:text-green-700">View</a>
								</div>
							</td>
							<td>
								<div class="text-center">
									<a href="/admin/pages/delete/{{ page.slug }}" class="text-red-500 hover:text-red-700">Delete</a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}

	{% if pages|length == 0 %}
		<p class="mb-3">No pages found.</p>
	{% endif %}

	<h2 class="text-2xl font-bold mt-8 mb-4">Create a new page</h2>

	{% if message %}
		<div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4 mt-4" role="alert">
			<strong class="font-bold">Success!</strong>
			<span class="block sm:inline">{{ message }}</span>

			{% if url %}
				<a href="{{ url }}" class="text-blue-500 hover:text-blue-700">View page</a>
			{% endif %}
		</div>
	{% endif %}

	<!-- A form with an input field for the page title, a textarea for the page content and a submit button -->
	<form action="/admin/pages/save" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-4">
		<input type="hidden" name="id" value="{{ id ?? '' }}">
		<div class="mb-4">
			<label for="title" class="block mb-2">Page Title</label>
			<input type="text" name="title" id="title" class="w-full border border-gray-400 p-2 rounded" value="{{ page.frontmatter.title ?? '' }}">
		</div>
		<div class="mb-4">
			<label for="date" class="block mb-2">Date</label>
			<input type="text" name="date" id="date" class="w-full border border-gray-400 p-2 rounded" value="{{ page.date ?? '' }}">
		</div>
		<div class="mb-4">
			<label for="slug" class="block mb-2">Slug</label>
			<input type="text" name="slug" id="slug" class="w-full border border-gray-400 p-2 rounded" value="{{ page.slug ?? '' }}">
		</div>
		<div class="mb-4">
			<label for="tags" class="block mb-2">Tags</label>
			<input type="text" name="tags" id="tags" class="w-full border border-gray-400 p-2 rounded" value="{{ page.tags is defined ? page.tags|join(',') : '' }}">
		</div>
		<div class="mb-4">
			<label for="categories" class="block mb-2">Categories</label>
			<input type="text" name="categories" id="categories" class="w-full border border-gray-400 p-2 rounded" value="{{ page.categories is defined ? page.categories|join(',') : '' }}">
		</div>

		<div class="mb-4">
			<label for="draft" class="block mb-2">Draft</label>
			<input type="checkbox" name="draft" id="draft" class="border border-gray-400 p-2 rounded" value="{{ page.draft ?? '' }}">
		</div>
		<div class="mb-4">
			<label for="layout" class="block mb-2">Layout</label>
			<select name="layout" id="layout" class="w-full border border-gray-400 p-2 rounded">
				<option value="page" {{ page.layout == 'page' ? 'selected' : '' }}>Page</option>
			</select>
		</div>
		<div class="mb-4">
			<label for="author" class="block mb-2">Author</label>
			<input type="text" name="author" id="author" class="w-full border border-gray-400 p-2 rounded" value="{{ page.author ?? '' }}">
		</div>
		<div class="mb-4">
			<label for="excerpt" class="block mb-2">Excerpt</label>
			<textarea name="excerpt" id="excerpt" cols="30" rows="10" class="w-full border border-gray-400 p-2 rounded">{{ page.excerpt ?? '' }}</textarea>
		</div>
		<div class="mb-4">
			<label for="content" class="block mb-2">Page Content</label>
			<textarea name="content" id="content" cols="30" rows="10" class="w-full border border-gray-400 p-2 rounded">{{ page.content ?? '' }}</textarea>
		</div>
		<button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
			{{ page is defined ? 'Update' : 'Create' }}
			Page
		</button>
	</form>
{% endblock %}
