{% set siteName = "Really" %}

<!DOCTYPE html>
<html lang="en">
	<head>
		{% block title %}
			<title>{{ siteName }}
				|
				{{ title }}</title>
		{% endblock %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% block stylesheets %}
			<link href="/assets/css/index.css" rel="stylesheet">
		{% endblock %}

	</head>
	<body class="bg-lemon-100 text-gray-800 min-h-screen flex flex-col">

		<nav class="bg-orange-500 p-4 text-white">
			<div class="container mx-auto flex justify-between items-center">
				<a href="/" class="text-lg font-bold">
					{{ siteName }}
				</a>
				<div>
					{% for page in pages %}
						<a href="{{ page.slug }}" class="ml-4">{{ page.title ?? 'Untitled' }}</a>
					{% endfor %}
					<a href="/admin" class="ml-4 bg-white text-orange-500 px-4 py-2 rounded-lg hidden" data-on-admin-auth>
						Admin
					</a>
				</div>
			</div>
		</nav>

		{% if preview %}
			<div class="bg-orange-200 text-orange-800 p-4 text-center">
				<p>This is a preview.</p>
			</div>
		{% endif %}

		<main class="container mx-auto p-4 flex-1">
			<div>
				{% block content %}{% endblock %}
			</div>
		</main>

		<footer class="bg-orange-700 text-white p-4 text-center">
			<p>©
				{{ "now"|date("Y") }}
				{{ siteName }}. All rights reserved.</p>
		</footer>

		{% block javascripts %}
			<script src="/assets/js/index.js"></script>
		{% endblock %}

	</body>
</html>
